<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3899215381.js" crossorigin="anonymous"></script>
    <link href="/css/stylesDetail.css" rel="stylesheet">


    <title><%=product.name%></title>
</head>

<body>

    <%- include ('./partials/header') %>

    <main class="main-detail">
        <section class="cuerpoDelDetalle">
            <section class="detalleDelProducto">
                <div class="productoDetalle">

                    <div class="detalleImagen"> <img src="/img/<%= product.image%>" alt="Doritos"> </div>

                </div>
            </section>

            <section class="carritoDelProducto">
                <div class="detallesDelCarrito">
                    <div class="carritoDescripcion">
                        <h2><%= product.name %></h2>
                    </div>
                    <div class="carritoDescripcion">
                        <h3><%= product.descriptions%></h3>
                    </div>
                    <div class="carritoDescripcion"><span class="precio-en-detail">$ <%= product.price%></span></div>
                    <div class="botonDeAdicionar"> <button class="botonDeCantidad">+</button> Cantidad
                        <button class="botonDeCantidad">-</button></div>
                    <% if (locals.isLogged && user.status_id !== 3) { %>     
                    <div style="margin-bottom: 240px;">
                        <div class="botonDeAgregar"><button class="botonPago">Agregar Producto</button></div>
                        <div class="botonDeAgregar"><button class="botonPago">Comprar ahora</button></div>
                    </div>    
                    <% } %>
                        
                    <% if (locals.isLogged && user.status_id === 3) { %> 
                        <div class="botonDeAgregar"><button class="botonPago">Agregar Producto</button></div>
                        <div class="botonDeAgregar"><button class="botonPago">Comprar ahora</button></div>
                        <a href="/productos/editar-producto/<%= product.id %> ">
                            <div class="botonDeAgregar"><button class="botonPago">Editar Producto</button></div>
                        </a>
                        <form action="/productos/borrar-producto/<%= product.id %>?_method=DELETE" method="POST">
    
                            <div class="botonDeAgregar" style="margin-bottom: 100px;"><button class="botonPago">Eliminar Producto</button></div>
                        </form>
                    <% } %>
                </div>
            </section>

        </section>
    </main>
    <%- include ('partials/footer') %>

</body>

</html>

                        
                            

