<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head') %>

<body>

    <%- include ('./partials/header') %>

    <main class="main-edit">

        <form class="form-edit" action="/productos/editar-producto/<%= product.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <h2 class="products-title">Estás editando: <%= product.nombre %> </h2>
            <div class="div-form-edit">
                <label for="nombre" class="form-label">Nombre del producto:</label>
                <input type="text" id="nombre" name="nombre" value="<%= product.nombre %>" class="form-input">


                <label for="precio" class="form-label">Precio del producto:</label>
                <input type="text" id="precio" name="precio" value="<%= product.precio %>" class="form-input">

                <!-- <label for="discount" class="form-label">Descuento:</label>
                <input type="text" id="discount" name="discount" value="0 %" class="form-input"> -->


                <label for="categoria" class="form-label">Categoría:</label>
                <select name="categoria" id="categoria" class="form-input" value="categoria">
                    <option value="almacen" <%= product.category === 'almacen' ? 'selected' : '' %> >Almacen</option>
                    <option value="bebidas" <%= product.category === 'bebidas' ? 'selected' : '' %> >Bebidas</option>
                    <option value="bebidas-con-alcohol" <%= product.category === 'bebidas-con-alcohol' ? 'selected' : '' %> >Bebidas con alcohol</option>
                    <option value="carnes" <%= product.category === 'carnes' ? 'selected' : '' %> >Carnes</option>
                    <option value="higiene" <%= product.category === 'higiene' ? 'selected' : '' %> >Higiene</option>
                    <option value="lacteos" <%= product.category === 'lacteos' ? 'selected' : '' %> >Lacteos</option>
                    <option value="limpieza" <%= product.category === 'limpieza' ? 'selected' : '' %> >Limpieza</option>
                    <option value="verduleria" <%= product.category === 'verduleria' ? 'selected' : '' %> >Verduleria</option>
                </select>


                <!-- <label for="image" class="form-label">Imágen</label> -->
                <img name="image" class="form-img" src="/img/<%= product.imagen %>" value="imagen">
                <input type="file" name="imagen" class="form-input-image" value="imagen" id="imagen">

                <label for="detalle" class="form-label">Descripción:</label>
                <textarea name="detalle" id="detalle" class="form-input" value="detalle"><%= product.detalle %></textarea>

            </div>

            <div class="button-edit-create">
                <button type="submit" class="buy-now-button">Guardar producto</button>
            </div>

        </form>


    </main>

    <%- include('./partials/footer') %>
</body>

</html>