<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head') %>

<body>

    <%- include ('./partials/header') %>

    <main class="main-profile">

        <div class="profile-card">
            <img class='fotoPerfil-enPerfil'src="/images/users/<%= user.fotoPerfil %>">
            <h1 class="usuario"><%= user.nombreYApellido %> </h1>
            <p class="profile-nombreCompleto"><%= user.email %></p>
            <p><%= user.pais %></p>
            <p><%= user.direccion %></p>
            <p><button class="profile-boton">Editar usuario</button></p>
            <p><button class="profile-boton">Eliminar usuario</button></p>
        </div>
        

    </main>

    <%- include('./partials/footer') %>
</body>

</html>