<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>

<body class="body-register">

    <%- include ('./partials/header') %>

    <main class="main-register">


    <form class="card-register"  action="/usuarios/registro" method="POST" enctype="multipart/form-data">
        
        <div class="card_header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor"
                    d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z">
                </path>
            </svg>
            <h1 class="form_heading">Registro</h1>
        </div>
        <div class="field">
            <label for="nombreYApellido">Nombre y apellido</label>
            <input class="input-login" name="nombreYApellido" type="text" placeholder="Juan Martinez" id="username" >
            
            <% if (locals.errors && errors.nombreYApellido) { %>
                <div class="text-danger">
                     <%= errors.nombreYApellido.msg %> 
                </div>
               
                <% } %>
            </div>
                                         

        <div class="field">
            <label for="usuario">Nombre de usuario</label>
            <input class="input-login" name="usuario" type="usuario" placeholder="JuanMartinez115" id="usuario" >
            <% if (locals.errors && errors.usuario) { %>
                <div class="text-danger">
                     <%= errors.usuario.msg %> 
                </div>
               
                <% } %>
        </div>
        <div class="field">
            <label for="password">Contraseña</label>
            <input class="input-login" name="password" type="password" placeholder="Contraseña" id="password"
                minlength="5" maxlength="10">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                         <%= errors.password.msg %> 
                    </div>
                   
                    <% } %>
        </div>
        <div class="field">
            <label for="repeat-password">Confirmar Contraseña</label>
            <input class="input-login" name="repeat-password" type="password" placeholder="Contraseña" id="password"
                minlength="5" maxlength="10">
        </div>
        <div class="field">
            <label for="pais">País</label>
            <input class="input-login" name="pais" type="pais" placeholder="Argentina" id="pais" >
            <% if (locals.errors && errors.pais) { %>
                <div class="text-danger">
                     <%= errors.pais.msg %> 
                </div>
               
                <% } %>
        </div>

        <div class="field">
            <label for="direccion">Dirección</label>
            <input class="input-login" name="direccion" type="direccion" placeholder="San Martín 525" id="direccion">
            <% if (locals.errors && errors.direccion) { %>
                <div class="text-danger">
                     <%= errors.direccion.msg %> 
                </div>
               
                <% } %>
        </div>
        <div class="field">
            <label for="fotoPerfil">Foto de perfil</label>
            <input type="file" name="fotoPerfil" value="fotoPerfil" id="perfilFile">
            <% if (locals.errors && errors.fotoPerfil) { %>
                <div class="text-danger">
                     <%= errors.fotoPerfil.msg %> 
                </div>
               
                <% } %>
        </div>
        <div class="checkbox-register">
            <label class="label-checkbox" for="acepto">
                <input type="checkbox" name="terminos" value="terminos">Acepto términos y condiciones
                <% if (locals.errors && errors.terminos) { %>
                    <div class="text-danger">
                         <%= errors.terminos.msg %> 
                    </div>
                   
                    <% } %>
                <input type="checkbox" name="ofertas" value="ofertas">Quiero recibir ofertas
            </label>
        </div>

        <div>
            <button class="button-login" type="submit">Enviar</button>
        </div>
    </form>
</main>
    <%- include('./partials/footer') %>
</body>

</html>