<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>

<body class="body-register">

    <%- include ('./partials/header') %>


    <main class="main-register">


        <form class="card-register" action="/usuarios/editar-usuario/<%= user.users_id %>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div class="card_header">

                <h1 class="form_heading">Editar usuario</h1>
            </div>
            <div class="field">
                <label for="full_name">Nombre y apellido</label>
                <input class="input-login" name="full_name" type="text" id="username"
                    value="<%= user.full_name %>">

                <% if (locals.errors && errors.full_name) { %>
                <div class="text-danger">
                    <%= errors.full_name.msg %>
                </div>

                <% } %>
            </div>


            <div class="field">
                <label for="email">Email</label>
                <input class="input-login" name="email" type="text" id="email"
                    value="<%= user.email %>">
                <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>

                <% } %>
            </div>
            <div class="field">
                <label for="password">Contraseña</label>
                <input class="input-login" name="password" type="password" id="password" minlength="5" maxlength="10">
                <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>

                <% } %>
            </div>

            <div class="field">
                <label for="repeatPassword">Confirmar Contraseña</label>
                <input class="input-login" name="repeatPassword" type="password" id="repeatPassword" minlength="5"
                    maxlength="10">
                <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>
                <% } %>
            </div>
            <div class="field">
                <label for="country">País</label>
                <input class="input-login" name="country" type="pais" id="pais"
                    value="<%= user.country %>">
                <% if (locals.errors && errors.country) { %>
                <div class="text-danger">
                    <%= errors.country.msg %>
                </div>

                <% } %>
            </div>

            <div class="field">
                <label for="address">Dirección</label>
                <input class="input-login" name="address" type="direccion" id="direccion"
                    value="<%= user.address%>">
                <% if (locals.errors && errors.address) { %>
                <div class="text-danger">
                    <%= errors.address.msg %>
                </div>

                <% } %>
            </div>
            <div class="field">
                <label for="profile_image">Foto de perfil</label>
                <img name="image" class="form-img" src="/images/users/<%= user.profile_image%>" value="imagen">
                <input type="file" name="profile_image"  value="imagen" id="perfilFile">
                <% if (locals.errors && errors.profile_image) { %>
                <div class="text-danger">
                    <%= errors.profile_image.msg %>
                </div>

                <% } %>
            </div>
            

            <div>
                <button class="button-register" type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>